.profile {
    border-radius: 50%;
    width: 90px;
}

.username {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.username a {
    color: #bbb;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Karla', Helvetica, sans-serif;
}

.userName a:hover {
    color: #000;
}